:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --title-text-color: #ffffff;
  --accent-color: #4d5ae5;
  --subtitle-text: #8e8f99;
  --light-background: #f4f4fd;
  --secondary-accent-color: #e7e9fc;
}
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  background-color: var(--title-text-color);
  font-size: 16px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*==================== COMPONENTS ==============*/
.menu-link:hover,
.menu-list:focus,
.contact-link:hover {
  color: var(--accent-color);
}
/*==================== /COMPONENTS ==============*/

/* =============== HEADER ====================*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--primary-text-color);
}
.logo-web-text {
  color: var(--accent-color);
}
.menu-link {
  font-weight: 600;
  line-height: 1.5;
  color: var(--primary-text-color);
}
.menu-list {
  font-weight: 600;
  line-height: 1.5;
}
.contact-link {
  line-height: 1.5;
  color: var(--secondary-text-color);
}
/* ============= /HEADER ====================*/

/* ================ HERO =======================*/
.hero {
  background: var(--primary-text-color);
}
.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.1;

  color: var(--title-text-color);
}
.modal-btn {
  font-weight: 600;
  line-height: 1.2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--title-text-color);
}
/* ================ /HERO =======================*/

/* =============== ABOUT =====================*/

.about-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  color: var(--primary-text-color);
}
.about-description {
  line-height: 1.5;

  color: var(--secondary-text-color);
}
/* ============= /ABOUT =====================*/

/* ============= SERVICES =====================*/
.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
/* ============= /SERVICES =====================*/

/* ============= TEAM =====================*/
.team {
  background-color: var(--light-background);
}
.team-name,
.portfolio-item {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-text-color);
}
.team-position,
.portfolio-item-dep {
  line-height: 1.5;
  color: var(--secondary-text-color);
}
/* ============= /TEAM =====================*/

/* ============= FOOTER =====================*/
.footer {
  background: var(--primary-text-color);
}
.logo-web-text-footer {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--light-background);
}
.footer-text {
  line-height: 1.5;
  color: var(--secondary-accent-color);
  align-items: center;
}
/* ============= /FOOTER =====================*/
/* ============= PORTFOLIO = indexTEAM ===========*/
.button-all {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--title-text-color);
}

.buttons {
  font-weight: 600;
  line-height: 1.5;
  cursor: pointer;
  color: var(--accent-color);
}
.portfolio-text {
  line-height: 1.5;

  color: var(--light-background);
}
/* ============= /PORTFOLIO ===========*/
